<ion-header>
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="padding: 0 1% 1% 1%; text-align: justify;">
    &nbsp;&nbsp;&nbsp;Terminos de Uso. 
    <br><br>
    Bienvenido a nuestro app. Si continúa navegando esta app, acepta cumplir y estar sujeto
    a los siguientes términos y condiciones de uso, que junto con nuestra política de privacidad rigen la relación de ‘‘Quien
    Ve Mi Perfil’’ con usted y el uso del app. Si no está de acuerdo con alguna parte de estos términos y condiciones, no
    use nuestra app.
    <br><br> El término ‘‘Quien Ve Mi Perfil’’ se refiere al propietario del esta app. El término "usted" se refiere al usuario o
    espectador de nuestra app.
    <br><br> El uso de esta app está sujeto a los siguientes términos de uso:
    <br><br> ‘Quien Ve Mi Perfil’ es un servicio de entretenimiento y no garantizamos que le proporcione 100% informes reales. Solo
    fue diseñado para hacerte pasar un buen momento con datos extra sobre tus cuentas sociales. Acepta que no garantizamos
    que le proporcionemos verdaderos informes exactos mediante el uso de esta aplicación.
    <br> El contenido de las páginas de esta app es solo para su información y uso general. Está sujeto a cambios sin previo
    aviso.
    <br><br> Ni nosotros ni ningún tercero brindamos ninguna garantía en cuanto a la precisión, puntualidad, rendimiento, integridad
    o adecuación de la información y los materiales encontrados u ofrecidos en este esta app para un propósito particular.
    Usted reconoce que dicha información y materiales pueden contener imprecisiones o errores, y expresamente excluimos la
    responsabilidad por tales imprecisiones o errores en la máxima medida permitida por la ley.
    <br><br> El uso de cualquier información o material en este esta app es bajo su propio riesgo, por lo que no seremos responsables.
    Será su responsabilidad garantizar que cualquier producto, servicio o información disponible a través de este esta app
    cumpla con sus requisitos específicos.
    <br><br> Esta app contiene material que nos pertenece o tiene licencia. Este material incluye, entre otros, el diseño, el diseño,
    el aspecto, la apariencia y los gráficos. Se prohíbe la reproducción que no esté de acuerdo con el aviso de copyright,
    que forma parte de estos términos y condiciones.
    <br><br> Todas las marcas comerciales reproducidas en este esta app que no son propiedad de, o con licencia para, el operador
    son reconocidas en la app.
    <br><br> El uso no autorizado de este esta app puede dar lugar a un reclamo por daños y / o puede ser un delito.
    <br><br> De vez en cuando, este esta app también puede incluir enlaces a otros sitios web. Estos enlaces se proporcionan para
    su conveniencia para proporcionar más información. No significan que aprobamos los sitios web. No tenemos responsabilidad
    por el contenido de los sitios web vinculados.
    <br>
  </p>
</ion-content>